services:
  api:
    build: .
    container_name: geppetto-be
    restart: on-failure
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started

  db:
    image: postgres:18-alpine
    container_name: geppetto-db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}" ]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "${VM_DB_PORT}:${CONTAINER_DB_PORT}"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: geppetto-redis
    restart: always
    ports:
      - "${VM_REDIS_PORT}:${CONTAINER_REDIS_PORT}"
    volumes:
      - redisdata:/data

volumes:
  pgdata:
  redisdata: