services:
  api:
    build: .
    container_name: geppetto-be
    restart: on-failure
    ports:
      # LOCAL port : CONTAINER port
      - "${PORT}:${PORT}"
    volumes:
      - pgdata:/var/lib/postgresql/data
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
  db:
    image: postgres:18-alpine
    container_name: geppetto-db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}" ]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "${VM_DB_PORT}:${CONTAINER_DB_PORT}"

volumes:
  pgdata:
